:root {
  --color-dark-blue: hsl(240, 38%, 20%);
  --color-grayish-blue: hsl(240, 18%, 77%);
  --color-grayish-blue1: hsl(240, 11%, 39%);
  --color-background-button: hsl(240, 13%, 91%);

  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
}

button,
textarea,
input,
body {
  font: 300 1.8rem Inter;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  width: 90vw;
  max-width: 700px;
}